---
import { isCurl, handleCurlAsync } from "../utils";
if (isCurl(Astro.request)) return handleCurlAsync(Astro.request);

const { roomName } = Astro.params;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>IJUSTWANNACOPYPASTE</title>
    </head>
    <body>
        <h1>IJUSTWANNACOPYPASTE</h1>
        <h2>{roomName}</h2>
    </body>
</html>
